@{
    ViewBag.Title = "Index";
}
@section Header{
}

<div id="Product2TableRow">

</div>

<div id="BasicModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg MyModal" id="MyModal">
        <div class="modal-content" id="ContentModal">


        </div>
    </div>
</div>



@section Scripts{       
    <script src="/www/Script/Comments/Index.js"></script>
}