@{
    ViewBag.Title = "ShopCart";
}

<main>
    <div ng-app="IndexModule" ng-controller="IndexController" class="container margin_60_35">
        <div class="row" ng-show="ShopCartDetail!=false">
            <div class="col-md-9 strip">
                <h3>سبد خرید شما</h3>
                <table class="table table-hover table-bordered  ">
                    <thead>
                        <tr>
                            <th>تصویر محصول</th>
                            <th>نام محصول</th>
                            <th>فی</th>
                            <th>تخفیف</th>
                            <th>تعداد</th>
                            <th>قیمت</th>
                            <th>فروشگاه</th>
                            <th>حذف</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="item in ShopCartDetail" id="record_{{item.Product.Id}}">

                            <td><a href="/Product/DetailProduct/{{item.Product.Id}}"><img src="{{item.Product.Image}}" style="width:150px" alt=" " class="img-responsive" /></a></td>
                            <td>{{item.Product.ProductName}}</td>
                            <td>{{item.Product.Price}}</td>
                            <td>{{item.Sal}}</td>
                            <td>
                                <button ng-click="changeCount(item.Product.Id,false,item.Count,item.NameAndValue)" style="width:auto" type="button" class="btn btn-default btn-number">
                                    <img style="width:20px" src="client_section/img/SVG/minimize.svg" /><i style="display:none">1</i>
                                </button>
                                <input class="text-center" readonly id="CountProduct_itemmm.ProductId_FK" onkeyup="ChangeFromCart(itemmm.ProductId_FK,0)" style="width:41px;" type="text" value="{{item.Count}}">
                                <button ng-click="changeCount(item.Product.Id,true,item.Count,item.NameAndValue)" style="width:auto" type="button" class="btn btn-default btn-number">
                                    <img style="width:20px" src="client_section/img/SVG/plus.svg" /><i style="display:none">1</i>
                                </button>
                            </td>
                            <td class="invert">{{item.Price}}</td>


                            <td>
                                <div class="rem">
                                    <div class="close1"> </div>
                                </div>
                            </td>
                            <td>
                                <button class="btn btn-danger" style="cursor:pointer" ng-click="removeFromCart(item.Product.Id)">حذف</button>
                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="col-md-3 strip">
                <div class="col-lg-12 text-center" style="margin-top: 20%">
                    <h6>مجموع (<b id="CountProduct">{{TotalCountProduct}}</b>عدد): {{TotalProductPrice}}  ریال</h6>
                </div>
                <div class="col-lg-12 text-center">
                    <h6>مجموع تخفیف: {{TotalDiscount}} ریال</h6>
                </div>
                <div class="col-lg-12 text-center">
                    <h6>میزان قابل پرداخت: {{TotalBuyProduct}} ریال</h6>
                </div>
                <div>
                    <a href="/ShopCart/Shoping" class="btn btn-info btn-block">ثبت خرید</a>
                </div>
            </div>
        </div>
        <div class="row" ng-show="ShopCartDetail == false">
            <div class="col-lg-12 strip grid" style="text-align:center;height: 200px;padding-top: 7%;">
                <h4>سبد خرید شما خالی میباشد</h4>      
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script src="ShopCart/Angular/Index.Module.js"></script>
    <script src="ShopCart/Angular/Index.Service.js"></script>
    <script src="ShopCart/Angular/Index.Controller.js"></script>
}