
@{
    ViewBag.Title = "Payment";
  
}

<h2>پرداخت</h2>

<a href="/ShopCart/Verify?status=true" class="btn btn-success m-5">پرداخت موفق</a>

<a href="/ShopCart/Verify?status=false" class="btn btn-danger m-5">پرداخت ناموفق</a>