@model List<PlatPhone.Models.ViewModel.ShopCartViewModel>
@{
    ViewBag.Title = "Shoping";
}

<h2>Shoping</h2>

<main>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
</main>