@{
    ViewBag.Title = "Index";
}

@section Header{
    <link href="/Style/CustomeStyle.css" rel="stylesheet" />
}

<div id="ProductTableRow"></div>

<div id="BasicModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg MyModal" id="MyModal">
        <div class="modal-content" id="ContentModal"></div>
    </div>
</div>

@section Scripts{
    <script src="/admin_section/js/jquery.stepy.js"></script>
    <script src="/Script/Product/Index.js"></script>
}

