@{
    ViewBag.Title = "AboutUs";
}

<div class="sub_header_in color-bg-primary">
    <div class="container">
        <h1>درباره ما</h1>
    </div>
    <!-- /container -->
</div>
<main class="pattern">
    <div class="container margin_60_35">
        <h3>
            فروشگاه اینترنتی پلتفون
        </h3>
        <p>
            این فروشگاه فروش اینترنتی انواع گوشی موبایل ،لوازم جانبی و سایر محصولات دیجیتال را به مشتریان ارائه می‌کند. ما در این سایت فروشگاهی سعی کرده ایم تا محصولات با کیفیت و اصلی رو با قیمت پایین خدمت مشتریان عزیز خودمان ارائه کنیم و با ارائه نقد و بررسی، جعبه گشایی اغلب محصولات و پشتیبانی آنلاین خود سعی کردیم مشتری رو در انتخاب درست محصول خریداری شده راهنمایی کنیم.
        </p>
    </div>
</main>