
@{
    ViewBag.Title = "Error403";
}

<div style="text-align:center ;padding: 200px;">
    <h1 class="text text-danger">عدم دسترسی!</h1>
    <h6 style="text-align:center">شما مجوز ورود به صفحه مورد نظر را ندارید </h6>
</div>