
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



@section Header{
    <link href="/www/Style/CustomeStyle.css" rel="stylesheet" />
}

<div id="ProductTableRow">

</div>



<div id="BasicModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg MyModal" id="MyModal">
        <div class="modal-content" id="ContentModal">


        </div>
    </div>
</div>

@section Scripts{

    <script src="/www/Script/ReprotSal/Index.js"></script>

}

