@{
    ViewBag.Title = "Index";
}

@section Header{
    <link href="/Style/CustomeStyle.css" rel="stylesheet" />
}

<div id="categoryTableRow">

</div>

<div id="BasicModal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" style="margin:auto">
    <div class="modal-dialog modal-lg MyModal" id="MyModal" style="max-width:45%">
        <div class="modal-content" id="ContentModal">

        </div>
    </div>
</div>

@section Scripts{
    <script src="/admin_section/js/jquery.stepy.js"></script>
    <script src="/Script/Category/index.js"></script>
}