<!DOCTYPE html>
<html lang="en">
<head>
    <title>پلتفون</title>
    <partial name="_MetaTags" />
    <link rel="shortcut icon" href="~img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="~img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~img/apple-touch-icon-144x144-precomposed.png">
    <!-- FAVICON -->
    <link rel="icon" type="image/png" href="/assets/img/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/img/favicon-32x32.png" sizes="32x32">
    <!-- BASE CSS -->
    <link href="/client_section/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="/client_section/css/style-rtl.css" rel="stylesheet" />
    <link href="/client_section/css/vendors-rtl.css" rel="stylesheet">
    <!-- Star Rating -->
    <link href="/client_section/css/star_plugin/star-rating-svg.css" rel="stylesheet" />
    <!-- Flags -->
    <link href="/client_section/css/flags/flags.min.css" rel="stylesheet" />
    <!-- Font Awsome -->
    <link href="/client_section/fontawesome/css/all.css" rel="stylesheet" />
    <!-- CUSTOM CSS -->
    <link href="/client_section/css/custom.min.css" rel="stylesheet" />
    @RenderSection("Styles", false)
</head>
<body>
    <div id="page">
        <partial name="_Header" model="new List<PlatPhone.DataLayer.ClientMenuLink>()"/>
        @RenderBody()
        <partial name="_Footer" />
    </div>
    <div id="toTop"></div>
    <partial name="_Scripts" />
    <script src="/ShopCart/angular.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
