
@model DataLayer.MultimediaType



<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                افزودن گالری
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </header>
            <div class="panel-body">

                <form class="form-horizontal" id="default" action="/Admin/Multimedia/Operation"
                      method="post"
                      enctype="multipart/form-data"
                      data-ajax-failure="onFailed"
                      data-ajax-success="onSuccess"
                      data-ajax="true">

                    <input id="Id" name="Id" type="hidden" value="0">

                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">

                                <label class="col-lg-2 control-label">عنوان</label>
                                <div class="col-lg-10">
                                    <input name="Title" id="Title" type="text" class="form-control" placeholder="عنوان">
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">رسانه</label>
                                    <div class="col-lg-10">
                                        <input type="file" id="FileName" name="FileName" />
                                    </div>
                                </div>
                            </div>

                            @*@if (Model == DataLayer.MultimediaType.Video)

                            {
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">کاور</label>
                                        <div class="col-lg-10">
                                            <input type="file" id="Cover" name="Cover" />
                                        </div>
                                    </div>
                                </div>
                            }*@

                        </div>

                    </div>

                    <input type="hidden" name="MultimediaType" id="MultimediaType" value="@Model" />
                    <input type="hidden" name="Id" value="0" />

                    <div class="form-group">
                        <label class="col-lg-2 control-label">توضیحات</label>
                        <div class="col-lg-12">
                            <textarea class="form-control" name="Description" id="Description"></textarea>
                        </div>
                    </div>


                    <input type="submit" class="finish btn btn-danger" value="ذخیره" />

                </form>
            </div>
        </section>
    </div>
</div>
<!-- page end-->

<script>

    $(function () {
        $('#default').stepy({
            backLabel: 'قبلی',
            block: true,
            nextLabel: 'بعدی',
            titleClick: true,
            titleTarget: '.stepy-tab'
        });
    });
</script>

